//colors
$accent: #4ECCA3;
$lightest: #EEE;
$dark: #393E46;
$darkest: #232931;

//------recycle bin------
// text-shadow:
    //     -0.5px -0.5px $darkest,
    //     0.5px -0.5px $darkest,
    //     -0.5px 0.5px $darkest,
    //     0.5px 0.5px $darkest;

body{
    background-color: $darkest;
    margin-left: 0px; 
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

header{
    color: $darkest;
    background: $accent;
    font-family: Adam, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke:2px $darkest;
    

    img{
        margin: 1% 0 1% 5%;
        width: 10%;
    }
    ul{
        float: right;
        margin: 4% 5% 0% 0%;
        padding: 0;
        li{
            display: inline;
            padding: 0.5em;
            font-size: 1.5em;
            

            a{
                display: inline-block;
                color: $darkest;
                text-decoration: none;
                padding: .5em 1em;
                
                &:hover{
                    color: $lightest;
                    border: 2px solid $lightest;
                    text-decoration: none;
                    transition: all ease .5s;
                }
            }
            
        }
    }
}

.section1{
    height: 35em;
    width: 100%;
    background: url(../img/pexels-marcin-dampc-1684187.jpg);
    background-size: cover;

    color: $lightest;
    font-family: ADAM;
    text-align: center;
    H2{
        font-size: 3em;
        text-shadow:
             -3px 3px 0px $dark,
             -2.5px 2.5px 0px $dark,
             -2px 2px 0px $dark,
             -3px 3.5px 0px $dark,
             -3px -0px 0px $dark;
       -webkit-text-stroke:3px $lightest;
        background: $accent;
        margin: 20% 0 5% 5%;
    }
    h3{
        font-size: 1.5em;
        padding: 10% 5% 10% 5%;
        background: rgba($dark, 0.5);
        -webkit-text-stroke:1px $lightest;
    }
    img{
        width: 10%;
            display: inline-block;
            margin: 0 1% 0% 0%;
    }

    button{
        margin-top: 120%;
        font-size: 2.5EM;
        float: right;
        border-radius: 80px;
        padding: 1% 5% 1% 5%;
        border-style: none;
        background-color: $dark;
    }

    button:hover{
        color: $lightest;
        -webkit-text-stroke:1.5px $accent;
        background-color: $darkest;
        transition: ease-in-out;
    }
}

.section2{
    width: 80%;
    margin: 0% 10% 0 10%;
    background: $dark;
    color: $lightest;
    padding: 1% 0 0 0;

    H2{
        font-family: adam;
        font-size: 2em;
       -webkit-text-stroke:3px $lightest;
    }
    

    .dropdown-menu{
        float: right;
        color: $lightest;
    }
    

    .search-img{
        width: 25%;
        height: 25%;
    }
    .form-control{
        height: 100%;
        background-color: rgba($darkest,0.3);
        color: $lightest;
    }

    button{
        height: 100%;
        width: 500%;
        padding: 1% 1% 1% 1%;
        background-color: rgba($lightest,0.2);
        //fix this vvv
        //background-image: url(../img/icons/search.svg);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
    
    .search-result{
        width: 100%;
        margin: 0 0 1% 1%;
        text-align: center;
        
        img{
            width: 10%;
            display: inline-block;
            margin: 0 1% 0% 6%;
        }

        h3{
            background: rgba($darkest,0.8);
            font-family: adam;
            -webkit-text-stroke:1px $lightest;
        }

         .search-info1{
            background: url(../img/pexels-jacob-morch-426976crop.jpg);
            background-position: center; 
            background-repeat: no-repeat; 
            background-size:cover;
            width: 100%;
            padding: 8% 0% 0% 0%;
            margin-top: 1%;
        }
        .search-info1:hover{
            border-style: solid;
            border-color: $accent;
            border-width: 0.1%;
            padding-top: 20%;
        }

        .search-info2{
            background: url(../img/pexels-wendy-wei-1190298crop.jpg);
            background-position: center; 
            background-repeat: no-repeat; 
            background-size:cover;
            width: 100%;
            padding: 8% 0% 0% 0%;
            margin-top: 1%;
        }

        .search-info2:hover{
            border-style: solid;
            border-color: $accent;
            border-width: 0.1%;
            padding-top: 20%;
        }

        .search-info3{
            background: url(../img/pexels-isabella-mendes-332688crop.jpg);
            background-position: center; 
            background-repeat: no-repeat; 
            background-size:cover;
            width: 100%;
            padding: 8% 0% 0% 0%;
            margin-top: 1%;
        }

        .search-info3:hover{
            border-style: solid;
            border-color: $accent;
            border-width: 0.1%;
            padding-top: 20%;
            //transition: ease-in-out;
        }
    }
}

.section3{
    H2{
        font-family: adam;
        font-size: 3em;
        color: $lightest;
        text-shadow:
             -3px 3px 0px $dark,
             -4.5px 4.5px 0px $dark,
             -4px 4px 0px $dark,
             -3px 3.5px 0px $dark,
             -3px -0px 0px $dark;
       -webkit-text-stroke:4px $lightest;
        background: $accent;
        margin: 10% 0 5% 5%;
        text-align: center;
    }

    .card{
        border-style: none;
        border-radius: 1%;
        height: auto;
        background-size:cover;
        margin-bottom: 10%;
        color: rgba($lightest,0);

        p{
            font-size: 1.5em;
            color: $accent;
            text-align: center;
            font-family: adam;
            -webkit-text-stroke:1px $accent;
            text-shadow: 
                -2px 2px 0px $dark,
                -1.75px 1.75px 0px $dark,
                -1px 1px 0px $dark,
                -1.25px 1.25px 0px $dark,
                -1.5px 1.5px 0px $dark;
                background: rgba($lightest,0.1);
        }
    }
    .btn{
        color: rgba($lightest,0.7);
        margin: 95% 0 5% 25%;
        font-size: 1.2em;
        background: rgba($darkest,0.2)

    }
    .card:hover{
        
        p{
            color: $lightest;
            background: rgba($darkest,0.7);
        }

    }
    .btn:hover{
        color: $accent;
        background: rgba($darkest,0.5)
    }

}

.section4{
    background:$accent;

}

.eventdetails{
    text-align: center;
    padding-bottom: 5%;
    h2{
        font-size: 3em;
        font-family: adam;
        text-shadow:
             -3px 3px 0px $dark,
             -2.5px 2.5px 0px $dark,
             -2px 2px 0px $dark,
             -3px 3.5px 0px $dark,
             -3px -0px 0px $dark;
       -webkit-text-stroke:3px $lightest;
        background: $accent;
        margin: 20% 0 5% 5%;
    }
    h3{
        font-family: adam;
        font-size: 1.5em;
        padding: 10% 5% 10% 5%;
        -webkit-text-stroke:1px $lightest;
    }
    img{
        width: 10%;
            display: inline-block;
            margin: 0 1% 0% 0%;
    }

    .event-image{
        background: url(../img/pexels-marcin-dampc-1684187.jpg);
        background-size: cover;
    }

    button{
        margin-top: 100%;
        font-size: 2.5EM;
        float: right;
        border-radius: 80px;
        padding: 1% 5% 1% 5%;
        border-style: none;
        background-color: $accent;
    }

    button:hover{
        color: $darkest;
        -webkit-text-stroke:1.5px $darkest;
        background-color: $lightest;
        transition: ease-in-out;
        
    }
    
}

.topimg{
    background: url(../img/pexels-marcin-dampc-1684187.jpg);
    background-size: cover;
    padding: 5%;
    background-position: center; 
    background-repeat: no-repeat;
}

.registerform{
    color: $lightest;
    h2{
        font-size: 3em;
        font-family: adam;
        text-shadow:
             -3px 3px 0px $dark,
             -2.5px 2.5px 0px $dark,
             -2px 2px 0px $dark,
             -3px 3.5px 0px $dark,
             -3px -0px 0px $dark;
       -webkit-text-stroke:3px $lightest;
        background: $accent;
        margin: 20% 0 5% 5%;
    }
}